:root{
    font-size: .785;
    font-family: 'Raleway', sans-serif;
    --black: #000;
    --blue: #0d6ef2;
    --cyan: #0dcaf0;
    --green: #198754;
    --indigo: #6610f2;
    --orange: #fd7e14;
    --puerple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --teal: #20c997;
    --yellow: #ffc107;
    --white: #fff;
    box-sizing: border-box;
    outline: 0 none; /* És un tipus de border per sobre dels borders */
}

*, ::before, ::after {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width: 100%;
    background-color: #282828;
}

/* Pantalles desactivades */
.disable {
    display: none;
}

/* Tablet devices */
@media (min-width: 576px) {
    
}
/* Laptop devices */
@media (min-width: 768px) {

}

/* Desktop */
@media (min-width: 992px) {

}

/* Large devices */
@media (min-width: 1200px) {

}